*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color1: #345995;
    --color2: #63B4D1;
    --color3: #CC2936;
    --color4: #FFBC42;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}

/* seccion nav */

#inicio{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    margin-top: 45px;
    
}

.logo img{
    width: 250px;
    height: auto;
    filter: drop-shadow(12px 4px 10px black);
}

nav{
    margin-right: 40px;
}

nav ul{
    display: flex;

}

nav ul li{
    margin-right: 8px;
}

nav ul a{
    color: aliceblue;
    padding: 10px 15px;
    display: block;
    transition: transform 0.4s ease, color 0.4s ease;
    text-transform: uppercase;
    font-size: 0.8em;
}

nav ul a:hover{
    color: #face09;
    transform:scale(1.1);
}

/* seccion banner */

.banner{
    position: relative;
    overflow: hidden;
    margin: 150px 0;
}

.banner img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 420px;
}

.txt{
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: start;
}

.txt p{
    font-size: 1.2em;
    font-weight: 600;
}

.txt a{
    color: hsl(0, 0%, 99%);
}

button {
    margin: 15px;
    padding: 8px 30px;
    background-color: var(--color1);
    border: none;
    border-radius: 45px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease ;
}

button:hover{
    background-color: #CC2936;
    transform: scale(1.2);
    box-shadow: 6px 3px 10px black ;
}

/* seccion productos */

#productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 200px auto;
}

#productos img{
    width: 100%;
    height: 480px;
    object-fit: cover;
    filter: grayscale(1);
    transition: box-shadow 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.info-productos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid gray;
    height: 150px;
}

.info-productos p{
    font-size: 1.2em;
    font-weight: 300;
}

.info-productos h6{
    font-size: 1.1em;
    background-color: var(--color3);
    padding: 5px 40px;
    color: aliceblue;
    margin-top: 8px;
}

#productos img:hover{
    filter: grayscale(0);
    box-shadow: 8px 8px 10px gray;
}

/* seccion sobre nosotros */

#sobrenosotros{
    background-image: url(/assets/fondo.jpg);
    width: 100%;
    height: 350px;
    background-repeat: repeat;
    background-size: cover;
    filter: grayscale(1);
    background-attachment: fixed;
    position: relative;
    margin-bottom: 210px;
}

.nosotros{
    position: absolute;
    text-align: center;
    width: 50%;
    top: 35%;
    left: 28%;
    background: rgba(91, 115, 255, 0.329);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.534);
    padding: 25px;
}

.nosotros h5{
    padding:  auto;
    color: aliceblue;
}

/* seccion contacto */

#contacto{
    width: 100%;
    max-width: 680px;
    padding: 25px;
    margin: 150px auto;
}

#contacto h4{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 23px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form fieldset{
    padding: 25px 35px;
    border-radius: 0 28px 0 28px;
}

.form legend{
    font-size: 1.2em;
    padding: 5px 15px;
    font-weight: 300;
}

.form label {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
} 

.form input{
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    margin-bottom: 15px;
}

.form input, .form textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
}   

.form textarea{
    margin: 5px 0;
}

.form .btn{
    background-color: #345995;
    margin-top: 8px;
    color: aliceblue;
    transition: background-color 0.4s ease-in;
}
.form .btn:hover{  
    background-color: #CC2936;  
}  